學校/國小升國中/暑假作業/英文書籍介紹-影片.mp4
學校/國中/資優班/獨立研究/生物/教-112_蛋蛋的憂傷&水蘊草.pptx
學校/國小/501/大會舞/大會舞-馬戲團公約.mp4
學校/國小/501/大會舞/大會舞-來個蹦蹦.mp4
學校/國小/601/大會舞/1馬戲團公約.mp4
學校/國小/601/大會舞/2來個蹦蹦.mp4
平常不用/執行檔exe,msi/202305160657-x-UnityHubSetup.exe
平常不用/執行檔exe,msi/202311301923-x-GoogleDriveSetup.exe
平常不用/執行檔exe,msi/202401280627-h-electroserver_5_1_32bit_windows_offline.exe
平常不用/執行檔exe,msi/202401120458-x-jdk-21_windows-x64_bin.exe
平常不用/執行檔exe,msi/202312161926-x-JRE_8u381_setup_azo.exe
平常不用/執行檔exe,msi/202401100554-x-vagrant_2.4.0_windows_i686.msi
平常不用/執行檔exe,msi/202306301726-v-GitHubDesktopSetup-x64.exe
平常不用/執行檔exe,msi/202312071940-x-翰林行動大師.exe
平常不用/執行檔exe,msi/202311131821-x-cloudebooksetup_lo.exe
平常不用/執行檔exe,msi/202310081454-v-atom-1-63-1.exe
平常不用/執行檔exe,msi/202307011603-x-nox_setup_v7.0.5.8_full_intl.exe
學校/國中/普通班/七下-英語歌唱比賽/3'34'' , 4'00'' - 去頭 - Love Story (Karaoke) - Taylor Swift.mp4
學校/國中/普通班/八上隔宿/01-等你的回答.wav
學校/國中/普通班/八上隔宿/02-Good Time.wav
學校/國中/普通班/八上隔宿/03-Dynamite.wav
平常不用/壓縮檔zip/202305061148-GoogleChrome.zip
平常不用/壓縮檔zip/202210291052-阿豆選照片-print-20221029T024852Z-001.zip
平常不用/執行檔exe,msi/202401100524-v-MIT_App_Inventor_Tools_30.265.0_win_setup64.exe
平常不用/執行檔exe,msi/202312030545-x-android-studio-2022.3.1.21-windows.exe
平常不用/壓縮檔zip/202312030631-android-studio-2022.3.1.21-windows.zip
學校/國中/資優班/七暑活動/合歡山/合歡山-113合歡山前導課程_時空脈絡_2024.07.08.pptx
學校/國中/普通班/820-20241031-第1節-國文.mp4
學校/國中/資優班/858CD-20241031-第8節-理化.mp4
學校/國中/普通班/八上隔宿/栩-八上隔宿歌曲-20240923.zip
學校/國中/普通班/八上隔宿/栩-八上隔宿歌曲-20240926.zip
學校/國中/普通班/八上隔宿/栩-八上隔宿歌曲-20240927.zip
學校/國中/普通班/八上隔宿/富-八上隔宿歌曲-20241114.mp3
學校/國中/普通班/八上隔宿/栩-八上隔宿歌曲-20241024.zip
學校/國中/普通班/八上隔宿/栩-八上隔宿歌曲-20241007.zip
學校/國中/普通班/八上隔宿/富-八上隔宿歌曲-20241117.mp4
學校/國中/普通班/八上隔宿/富-八上隔宿歌曲-20241203.mp4
學校/國中/普通班/八上隔宿/總覽.zip
平常不用/AnyDesk/AnyDesk-V8.1.0/gcapi.dll
平常不用/AnyDesk/AnyDesk-V9.0.1/gcapi.dll
平常不用/AnyDesk/AnyDesk-V9.0.4/gcapi.dll
平常不用/執行檔exe,msi/202411241105-v-balenaEtcher-1.19.25.Setup.exe
平常不用/執行檔exe,msi/202410091835-v-railmapgen_24.10.1_x64-setup.exe
平常不用/執行檔exe,msi/202412281847-v-railmapgen_24.12.1_x64-setup.exe
學校/國中/普通班/國文/八下國課習/01課本.pdf
學校/國中/普通班/英語/八下課習講義/01課本.pdf
